<!-- Two Line List with secondary info and action -->
<style>
.demo-list-two {
  margin:2.5%;
  width: 95%;
}
</style>

<ul class="demo-list-two mdl-list">
    <h3>User Commands</h3>

  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <span>&lt;help</span>
      <span class="mdl-list__item-sub-title">Puts a list of commands in chat.</span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <span>&lt;tl</span>
      <span class="mdl-list__item-sub-title">Displays time left in that mission</span>
    </span>
  </li>
  <h3>Admin Commands</h3>
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <span>.nextmap</span>
      <span class="mdl-list__item-sub-title">62 Episodes</span>
    </span>
  </li>
</ul>
