<h3>Help</h3>
<h4>Configuration</h4>
<p>Run this in console: <code>il2cp init</code></p>
<p>Follow the prompts in the console then visit the URL provided in the console for further configuration.</p>
<h4>Advanced Configuration</h4> See the <b>config.json</b> in the <b>%APPDATA% / IL2 Control Panel </b> folder on your computer.

<pre><code class="json">{
  "ip": "192.168.1.3",
  "path": "C:/il2/",
  "port": "2003",
  "missionInterval": 60,
  "missionsInCycle": [],
  "admin": [
    "veltro"
  ],
    "dotRange": {
    "friendly": {
      "color": 4.0,
      "dot": 10.0,
      "range": 4.0,
      "type": 2.0,
      "id": 4.0,
      "name": 3.0
    },
    "foe": {
      "color": 4.0,
      "dot": 10.0,
      "range": 4.0,
      "type": 2.0,
      "id": 3.0,
      "name": 2.0
    }
  }
} </code></pre>
DOT - the distance at which the aircraft appears as a dot in the sky.<br>
COLOR - the team that the player is on (for example, the icon appears in red or blue text).<br>
TYPE - the type of aircraft the player is flying (ex. Yak).<br>
NAME - the player's name (ex. WindHawk)<br>
ID - the number on the aircraft (ex. *49)<br>
RANGE - the distance to the aircraft in kilometers<br>