<div class="mdl-grid">
  <div class="mdl-cell mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Connection Info</h2>
    </div>
    <div class="mdl-card__supporting-text"> IP Address: {{il2.ip}}<br> Port: {{il2.port}} <br> <br><!-- Basic Chip -->
      <span class="mdl-chip">
        <span class="mdl-chip__text">Online</span>
      </span></div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" data-upgraded=",MaterialButton,MaterialRipple">Edit<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
    </div>
  </div>
  <div class="mdl-cell mdl-card mdl-shadow--4dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Connection Info</h2>
    </div>
    <div class="mdl-card__supporting-text"> IP Address: {{il2.ip}}<br> Port: {{il2.port}} <br> <br><!-- Basic Chip -->
      <span class="mdl-chip">
        <span class="mdl-chip__text">Online</span>
      </span></div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" data-upgraded=",MaterialButton,MaterialRipple">Edit<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
    </div>
  </div>
